################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OneFoundationAppMaui/FileContentIndex/714698f2-8f47-4f26-84fc-323f64d6a135.vsidx
